.about {
    background-color: #2c2c2c;
    border: 100px;
    margin: 5%  10% 0 10%;
    width: 80%;
    height: 300px;

    display: flex;
}

.about-image {
    width: 300px;
    height: 100%;
    background-color: #2c2c2c;
    border: 100px;
    margin: 0;
    padding: 0;
}

.about-info {
    font-weight: 400;
    font-size: 1.5em;
}

.about-info-intro {
    display: flex;
}

.about-typewriter {
    text-align: left;
    max-width: 100%;

}

.about-image > img {
    width: 200px;
    height: 200px;

    /*margin-right: auto;*/
    align-content: center;
    padding-top: 50px;
    padding-left: 50px;

}

.about-typewriter {
    max-width: 100px;
}