.about {
    background-color: #2c2c2c;
    border: 100px;
    margin: 5% 10% 0 10%;
    width: 80%;
    height: 300px;

    display: flex;
}

.about-image {
    width: 300px;
    height: 100%;
    background-color: #2c2c2c;

    overflow: hidden;
}

.about-image > img {
    width: 200px;
    height: 200px;

    display: flex;
    align-content: center;
    margin-top: 50px;
    margin-left: 50px;;
    border-radius: 100px;
    border-color: #ffffff;
    border-style: solid;;

}

.about-info {
    font-weight: 400;
    font-size: 1.5em;
}

.about-info > h1 {
    font-weight: 500;
    font-size: 1.75em;
}

.about-info-intro {
    display: flex;
}

.about-typewriter {
    text-align: left;
    max-width: 100%;

}

.about-typewriter {
    max-width: 100px;
}