.about {
    background-color: #2c2c2c;
    border: 100px;
    margin: 5%  10% 0 10%;
    width: 80%;
    height: 300px;

    display: flex;
}

.about > img {
    width: 200px;
    height: 200px;

    justify-content: center;
    margin-right: auto;
    border-radius: 100px;
}

.about-typewriter {
    max-width: 100px;
}