nav {
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
}

nav > img {
    width: 70px;
    margin: 10px 7px 10px 10px;
}


.nav-about, .nav-contact, .nav-projects {
    padding: 10px;
    margin-left: 7px;
}

.nav-contact {
    padding-right: 30px;
}

.nav-title {
    margin-right: auto;
    font-size: 30px;
    padding-left: 10px;

}