nav {
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
}

nav > img {
    width: 70px;
    margin: 10px 7px 10px 10px;
}


.nav-about, .nav-contact, .nav-projects {
    padding: 10px;
    margin-left: 7px;

    font-size: 22px;

    text-decoration: none;
    font-style: normal;
    color: #fff;
    font-weight: bold;
}

.nav-projects-a, .nav-about-a, .nav-contact-a { text-decoration:none;}

.nav-contact {
    padding-right: 30px;
}

.nav-title {
    margin-right: auto;
    font-size: 30px;
    padding-left: 10px;
}