.project-entry {
    align-content: center;
    background-color: #393635;
    width: 500px;

    border-radius: 10px;
    border-color: #262626;
    border-width: 5px;
    border-style: solid;

    margin-top: 20px;

    margin-right: 10px;
}

.project-entry-image {
    padding-top: 20px;
}

.project-page-button {
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;

    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 1px 0 #3d768a;

    width: 150px;
    height: 30px;
    border-width: 1px;
    margin-left: 10px;

    color: #fff;
    border-color: #599bb3;
    border-radius: 21px;

    background:rgba(191, 103, 21, 1);
    appearance: menulist-button;
}

.project-github-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    text-shadow: 0 1px 0 #3d768a;

    font-weight: bold;

    width: 150px;
    height: 30px;
    border-width: 1px;

    color: #fff;
    border-color: #599bb3;
    border-radius: 21px;

    background:rgba(80, 147, 226, 1);
    appearance: menulist-button;
}

.project-github-button:hover, .project-page-button:hover {
    /*background:rgba(80, 147, 226, 0.8);*/
    filter: brightness(1.1);
}

.project-entry-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}

.project-github-logo {
    padding-right: 10px;
}